.main {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 80px;
}

.post-cancel-button {
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  background: none;
  cursor: pointer;
}

.post-cancel-button img {
  display: block;
}

.select-category {
  justify-content: flex-start;
}

.select-category li {
  white-space: nowrap;
}

.footer-attach {
  display: flex;
  justify-content: space-between;
}

.anonymous-label {
  color: var(--text-primary);
  font-size: 13px;

  cursor: pointer;
}
.is-anonymous {
  width: 10px;
  height: 10px;
  accent-color: var(--color-primary);
  cursor: pointer;
}
