.main {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 80px;
}

.header {
  justify-content: space-between;
}

.head-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.head-left-img {
  width: 28px;
  height: 28px;
  margin-right: 14px;
}

.header h1 {
  color: #000;
  margin-left: 14px;
}

.head-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.head-right-img1,
.head-right-img2 {
  width: 24px;
  height: 24px;
}

.head-right > button {
  margin-left: 18px;
  background-color: transparent;
  border: none;
}

.popupPostBtn {
  display: none;

  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 180px;
  height: 37px;
  padding: 10px 21px;

  border-radius: 10px;
  border: 1px solid #d9d9d9;
  background-color: #f2f5fa;

  position: absolute;

  margin-left: 200px;
  top: 45px;
  text-decoration: none;

  z-index: 9999;
}

.popupPostBtn > p {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.popupPostBtn > img {
  width: 16px;
  height: 16px;
}

.navigation {
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-bottom: 10px;
  justify-content: space-evenly;

  height: 53px;
  border-bottom: 1px solid #d9d9d9;
}

.navigation button {
  border: none;
  background-color: transparent;
  padding: 0px;
}

.selected_category {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.category {
  color: #7b7b7b;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.selected_line {
  position: absolute;

  margin-left: 23px;

  width: 44px;
  height: 2px;

  background-color: #2173f1;
}

#howtolist {
  display: flex;
  flex-direction: row;

  width: 64px;
  height: 24px;
  display: inline-flex;
  padding: 4px 10px;
  align-items: center;
  gap: 4px;

  margin-left: 21px;
  margin-top: 20px;

  border-radius: 20px;
  border: 1px solid #d9d9d9;
  background-color: #f2f5fa;
}

#howtolist > p {
  color: #000;
  font-size: 12px;
}

#howtolist img {
  width: 6px;
  height: 3px;
  align-items: center;
}

.howtolistPopup {
  position: absolute;

  display: none;
  flex-direction: column;
  align-items: center;

  width: 100px;
  height: 54px;

  border-radius: 10px;
  border: 1px solid #d9d9d9;
  background: #f2f5fa;

  margin-left: 20px;
  margin-top: 1px;
}

.recent {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  margin: 0px;
  padding: 7px 33px 5px 33px;
  border-radius: 0 0 10px 10px;
  height: 26px;

  color: #000;
  background-color: #f2f5fa;
  border: none;
}

.recommend {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  margin: 0px;
  padding: 7px 33px 5px 33px;
  border-radius: 10px 10px 0 0;
  height: 26px;

  color: #000;
  background-color: #f2f5fa;
  border: none;
}

.active {
  background-color: #2173f1;
  color: #ffffff;
}

.none-post-notice {
  width: 280px;
  height: 65px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  color: #7b7b7b;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  margin-left: 55px;
  margin-top: 260px;
}

.post {
  display: flex;
  flex-direction: column;

  width: 388px;
  min-height: 114px;
  /* padding-bottom: 20px; */
  padding: 20px 20px 20px 20px;
}

.bigBoxForpost {
  display: block;
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
  text-decoration: none;
  color: inherit;
}

.postTitle {
  margin: 0px;

  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.postContent {
  margin-top: 12px;
  margin-bottom: 10px;

  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.postInfo {
  color: #7b7b7b;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.heart,
.comment {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.heart > div,
.comment > div {
  color: #7b7b7b;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.postFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  gap: 96px;
}

.postReaction {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 16px;
}

.numOfHeart,
.numOfComment {
  color: #7b7b7b;

  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.postBtn {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);

  width: 188px;
  height: 39px;
  padding: 12px 40px;

  border-radius: 6px;
  background-color: #2173f1;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;

  text-decoration: none;
}

.postBtn > img {
  width: 13px;
  height: 13px;
  gap: 8px;
}

.postBtn > p {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
