.main {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 80px;
}

.header {
  justify-content: space-between;
}

.head-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.head-left-img {
  width: 28px;
  height: 28px;
  margin-right: 14px;
}

.header h1 {
  color: #000;
  margin-left: 14px;
}

.head-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.head-right-img1 {
  width: 24px;
  height: 24px;
}

.head-right > button {
  margin-left: 18px;
  background-color: transparent;
  border: none;
}

.popupPostBtn {
  display: none;

  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 170px;
  height: 37px;
  padding: 10px 21px;

  border-radius: 10px;
  border: 1px solid #d9d9d9;
  background-color: #f2f5fa;

  position: absolute;

  margin-left: 200px;
}

.popupPostBtn > p {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.popupPostBtn > img {
  width: 16px;
  height: 16px;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-bottom: 10px;
  justify-content: space-evenly;

  height: 53px;
  border-bottom: 1px solid #d9d9d9;
}

.selected_category {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.category {
  color: #7b7b7b;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.selected_line {
  position: absolute;

  margin-left: 23px;

  width: 44px;
  height: 2px;

  background-color: #2173f1;
}

.none-post-notice {
  width: 280px;
  height: 65px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  color: #7b7b7b;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  margin-left: 55px;
  margin-top: 260px;
}

.postBtn {
  position: absolute;
  top: 460px;
  left: 50%;
  transform: translateX(-50%);

  width: 188px;
  height: 39px;
  padding: 12px 40px;

  border-radius: 6px;
  background-color: #2173f1;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.postBtn > img {
  width: 13px;
  height: 13px;
  gap: 8px;
}

.postBtn > p {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
