.main {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 80px;
}

.post-ok-btn {
  color: var(--text-button-active);
}
.post-cancel-button {
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  background: none;
  cursor: pointer;
}

.post-cancel-button img {
  display: block;
}

.select-category {
  justify-content: flex-start;
}

.select-category li {
  white-space: nowrap;
}

.footer-attach {
  display: flex;
  justify-content: space-between;
}

.anonymous-label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;

  background-color: var(--bg-main);
  color: var(--text-primary);
  font-size: 15px;
  cursor: pointer;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;

  width: 11px;
  height: 11px;
  margin: 0;

  border: 1px solid var(--color-primary);
  border-radius: 2px;
  background-color: var(--color-white);
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

input[type="checkbox"]:checked::after {
  content: "✓";
  display: block;
  color: white;
  font-size: 9px;
  line-height: 10px;
  text-align: center;
}
