:root {
  /* 메인 컬러 */
  --bg-main: #fff;
  --color-main: #2173f1;
  --color-disabled: #7b7b7b;
  --text-main: #000000;
  --text-placeholder: #a5a3a3;
  --text-guide: #D9D9D9;
  --section-guide: #D9D9D9;
  --input-placeholder: #7B7B7B;

  /* border */
  --modal-border: #d9d9d9;

  /* button */
  --btn-bg: #a5a3a3;
  --modal-default: #f6f8ff;
  --modal-active: #2173f1;
  --btn-text-active: #444;
  --btn-text-disabled: #a5a3a3;
  --btn-text-hover: #fff;


}