

{% comment %} 
<!doctype html> 
<html lang="en"> 
<head> 
<meta charset="UTF-8" /> 
<meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
<title>Document</title> 
</head> 

<body> 
<a href="{% url 'Qampus:main' %}"> X </a> 질문 올리기 
<form method="POST" action="{% url 'Qampus:create' %}"> 
{% csrf_token %} 
<input type="submit" value="완료" /> 제목을 입력해주세요.
<input type="text" name="title" /><br /><br /> <hr /> 궁금한 내용을 자세히 적어주세요. 구체적일수록 더 좋은 답변을 받을 수 있어요.
<textarea name="content"></textarea><br /><br /> 
<select name="category" multiple> 
{% for category in categories %} 
<option value="{{ category.id }}">{{ category.name }}</option> 
{% endfor %} 
</select> <br /> 
</form> <br /> 
<p>※ 질문 내용 관련 유의사항</p> 
<p>· 질문의 제목과 본문은 내용을 명확히 알 수 있도록 작성해주세요.</p> 
<p> · 동일하거나 유사한 질문을 반복적으로 게시하는 행위는 제한될 수 있습니다. </p> 
<p> · 허위 정보, 확인되지 않은 소문, 오해를 불러일으킬 수 있는 내용은 작성하지 말아 주세요. </p> 
<p> · 특정 개인, 단체, 기관은 비방하거나 명예를 훼손하는 내용은 금지됩니다. </p> 
<p> · 개인정보, 연락처, 계정 정보 등 타인의 사생활을 침해할 수 있는 내용은 게시할 수 없습니다. </p> 
<br /><br /> 
<p>※ 첨부파일 및 이미지 관련 유의사항</p> 
<p>· 저작권을 침해하거나 무단으로 공유된 자료는 첨부할 수 없습니다.</p> 
<p> · 타인의 얼굴, 이름, 연락처, 학번 등 식별 가능한 정보가 포함된 이미지는 게시하지 말아 주세요. </p> 
<p> · 게시글 내용과 무관한 이미지 또는 불쾌감을 줄 수 있는 이미지는 제한될 수 있습니다. </p> 
<br /><br /> 
<hr /> 
</body> 
</html> 
{% endcomment %}

{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/shared.css' %}" />
    <link rel="stylesheet" href="{% static 'css/board-detail.css' %}" />
    <link rel="stylesheet" href="{% static 'css/board-write.css' %}" />
  </head>
  <body>
    <!-- 모바일 전용 화면 -->
    <div class="app">
      <!-- 헤더: 질문 올리기 및 완료버튼 -->
      <header class="header">
        <div class="box">
          <a href="{% url 'Qampus:main' %}">
            <img
              class="head-left-img post-cancel-icon"
              src="{% static 'icons/cancel.svg' %}"
              alt="취소"
            />
          </a>
          <h1>질문 올리기</h1>
        </div>
        <button type="submit" value="완료"   form="createForm" class="post-ok-btn">
          완료
        </button>
      </header>

      <main class="main">
        <!-- 새 질문 작성 폼 -->
        <form class="write-post-form" id="createForm" method="POST" action="{% url 'Qampus:create' %}">
          {% csrf_token %}
        
          <input
            type="text"
            name="title"
            class="form-title"
            placeholder="제목을 입력해주세요."
          />
          <textarea
            type="text"
            name="content"
            autocomplete="off"
            class="form-content"
            placeholder="궁금한 내용을 자세히 적어주세요. 구체적일수록 더 좋은 답변을 받을 수 있어요. "
          ></textarea>

          <!--작성 가이드-->
          <section class="write-guide">
            <ul class="select-category">
              <li>#수업</li>
              <li>#학교 프로그램</li>
              <li>#행정·절차</li>
              <li>#기타</li>
            </ul>

            <select name="category" id="categorySelect" multiple style="display: none;">
              {% for category in categories %}
              <option value="{{ category.id }}">
                {{ category.name }}
              </option>
              {% endfor %}
            </select>
          </section>

          <p class="text-guide">
            ※ 질문 내용 관련 유의사항
            <p class="text-guide">
              · 질문의 제목과 본문은 내용을 명확히 알 수 있도록 작성해 주세요.
              <br />
              · 동일하거나 유사한 질문을 반복적으로 게시하는 행위는 제한될 수
              있습니다. <br />
              · 허위 정보, 확인되지 않은 소문, 오해를 불러일으킬 수 있는 내용은
              <br />작성하지 말아 주세요. <br />
              · 특정 개인, 단체, 기관을 비방하거나 명예를 훼손하는 내용은
              금지됩니다. <br />
              · 개인정보, 연락처, 계정 정보 등 타인의 사생활을 침해할 수 있는
              내용은 <br />게시할 수 없습니다.
            </p>  
          </p>
          <br /><br />
          <p class="text-guide">
            ※ 첨부파일 및 이미지 관련 유의사항
            <p class="text-guide">
              · 저작권을 침해하거나 무단으로 공유된 자료는 첨부할 수 없습니다.
              <br />
              · 타인의 얼굴, 이름, 연락처, 학번 등 식별 가능한 정보가 포함된
              이미지는<br />게시하지 말아 주세요. <br />
              · 게시글 내용과 무관한 이미지 또는 불쾌감을 줄 수 있는 이미지는
              <br />제한될 수 있습니다.
            </p>
          </p>  
        </form>

        <section class="footer-attach">
          <!--이미지 삽입-->
          <label for="imageInput">
            <img src="{% static 'icons/album.svg' %}" />
          </label>
          <input type="file" accept="image/*" id="imageInput" />

          <!--파일 삽입-->
          <label for="fileInput">
            <img src="{% static 'icons/attach.svg' %}" />
          </label>
          <input type="file" id="fileInput" />
        </section>
      </main>
    </div>
  </body>

  <script src="{% static 'js/board-write.js' %}"></script>
</html>
