<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'Qampus:main' %}">< 질의 응답</a>

    <button onclick="document.getElementById('menu').showModal()">⋮</button>

    <dialog id="menu">
        <a href="{% url 'Qampus:update' post.id %}">수정하기</a>
        <br>
        <a href="#">삭제하기</a>
    </dialog>

    <h3>질문자 </h3>
    <p>{{ post.created_at }}</p>
    <h2>{{ post.title }}</h2>
    <p>{{ post.content }}</p>

    like reply scrap
    <hr>

    <input type="text" name="reply" placeholder="답변을 입력해보세요">
    <input type="submit" value="등록">
</body>
</html>